@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;1,400&display=swap");

.container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.nav-buttons{
  display: flex;
  gap: 3em;
  font-weight: bold;
}

#search-bar {
  background-color: lightgrey;
  width: 70%;
  padding-left: 20px;
}

#home {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  color: white;
}

img {
  width: 100%;
  border-radius: 20px;
}

.content{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-flow, 1fr);
  grid-auto-flow: dense;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

body {
  padding: 30px;
  font-family: "IBM Plex Sans", sans-serif;
}

section {
  border-bottom: 1px solid slategray;
  padding: 20px 0px;
}

section:last-child {
  border: none;
}

h1 {
  font-weight: 100;
  color: slategray;
  font-size: 3rem;
}

div {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

/* this makes you see what is the container and what is the item. you only need one div:hover because the two divs overlap to make the items a darker shade  */
div:hover {
  background-color: rgba(219, 68, 55, 0.2);
}

div h3:only-child {
  padding-left: 20px;
}

button {
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.card,
.clusterCard {
  width: 300px;
  border: 1px solid black;
  min-height: 400px;
  padding: 20px;
}

a {
  text-decoration: none;
  
}

a::after {
  content: "";
}
/* place an arrow (content: "\1f855") right after each anchor tag */

.logo {
  width: 3em;
}